#article-form-create{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

#article-form-create Button{
    width: 60%;
    margin-top: 20px;
}

#article-form-update{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
}

#article-form-map{
    width: 70%;
    margin: auto;
    padding-bottom: 2rem;
}

.img-name{
    width: 120px;
    margin: auto;
    padding-top: 15px;
}