.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .modal-content {
    position: relative;
    max-width: 85vw;
    max-height: 90vh;
    /* left: 50%;
    transform: translateX(-50%); */
    z-index: 0;
    vertical-align: middle;
    height: 100%;
    object-fit: contain;
  }

  .modal .img_wrapper{
    display: contents;
    align-items: center;
    justify-content: center;
    margin: 30px auto auto auto;
    white-space: nowrap;
    overflow-x: hidden;
  }
  
  /* Caption of Modal Image */
  .caption {
    margin: auto;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    min-height: 125px;
  }

  .caption .caption-title{
    font-size: 30px;
    font-weight: bold;
    line-height: 100%;
  }
  
  /* .caption .caption-detail{
    padding-top: 10px;
    margin-top: 20px;
    line-height: 100%;
    font-size: 25px;
    font-weight: normal;
  } */

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 10;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-left {
    position: absolute;
    top: 50%;
    left: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    z-index: 10;
  }

  .modal-left:hover,
  .modal-left:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-right {
    position: absolute;
    top: 50%;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    z-index: 10;
  }
  .modal-right:hover,
  .modal-right:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .right-enter {
    left: 100vw;
    transform: translateX(0%);
  }
  
  .right-enter.right-enter-active {
    left: 50%;
    transform: translateX(-50%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }

  .right-leave {
    left: 0;
    transform: translateX(-50%);
  }

  .right-leave.right-leave-active {
    left: -100vw;
    transform: translateX(0%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }

  .left-enter {
    left: -100vw;
    transform: translateX(0%);
  }
  
  .left-enter.left-enter-active {
    left: 50%;
    transform: translateX(-50%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }

  .left-leave {
    left: 0;
    transform: translateX(-50%);
  }

  .left-leave.left-leave-active {
    left: 100vw;
    transform: translateX(0%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }

@media only screen and (max-width: 1025px) and (min-width: 600px){
  .modal-content{
    max-width: 100vw;
    position: relative;
    vertical-align: middle;
    height: 100%;
    object-fit: contain;
  }

  .modal-left {
    left: 25px;
  }

  .modal-right {
    right: 25px;
  }

  .caption {
    z-index: 5;
    margin: auto;
  }

  .right-enter {
    left: 100%;
    transform: translateX(0%);
  }
  
  .right-enter.right-enter-active {
    left: 50%;
    transform: translateX(-50%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }

  .right-leave {
    left: 0;
    transform: translateX(-50%);
  }

  .right-leave.right-leave-active {
    left: -100%;
    transform: translateX(0%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }

  .left-enter {
    left: -100vw;
    transform: translateX(0%);
  }
  
  .left-enter.left-enter-active {
    left: 50%;
    transform: translateX(-50%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }

  .left-leave {
    left: 0;
    transform: translateX(-50%);
  }

  .left-leave.left-leave-active {
    left: 100vw;
    transform: translateX(0%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }
}

@media only screen and (max-width: 600px){
  .modal-content{
    max-width: 100vw;
    position: relative;
    vertical-align: middle;
    height: 100%;
    object-fit: contain;
  }

  .modal-left {
    left: 25px;
  }

  .modal-right {
      right: 25px;
  }

  .caption {
    z-index: 5;
    margin: -50px auto;
  }

  .right-enter {
    left: 100%;
    transform: translateX(0%);
  }
  
  .right-enter.right-enter-active {
    left: 50%;
    transform: translateX(-50%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }

  .right-leave {
    left: 0;
    transform: translateX(-50%);
  }

  .right-leave.right-leave-active {
    left: -100%;
    transform: translateX(0%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }

  .left-enter {
    left: -100vw;
    transform: translateX(0%);
  }
  
  .left-enter.left-enter-active {
    left: 50%;
    transform: translateX(-50%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }

  .left-leave {
    left: 0;
    transform: translateX(-50%);
  }

  .left-leave.left-leave-active {
    left: 100vw;
    transform: translateX(0%);
    transition: left 400ms ease-in-out, transform 400ms ease-in-out;
  }
}

