.app {
  text-align: center;
  /* background-color: #f9fef8;  */
  min-height: 100vh;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(25px + 2vmin);
  color: #EEA834;
  padding: 10px 0 10px 0; 
  /* cursor: pointer;*/
}

.app-header h1{
  font-size: 75px;
  width: 30%;
  /* border: solid #EEA834; */
  padding: 30px;
  font-family: AmaticSC;
}

.app-header img{
  height: 250px;
  cursor: pointer;
}

