.app {
  text-align: center;
  /* background-color: #f9fef8;  */
  min-height: 100vh;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(25px + 2vmin);
  color: rgb(214, 8, 8);
  padding: 10px 0 10px 0; 
  /* cursor: pointer;*/
}

.app-header h1{
  font-size: calc(25px + 2vmin);
  width: 30%;
  font-style: italic;
}

.app-header img{
  height: 250px;
  cursor: pointer;
}

