.app {
  text-align: center;
  /* background-color: #f9fef8;  */
  min-height: 100vh;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: rgb(214, 8, 8);
  padding: 65px 0 20px 0;
  cursor: pointer;
}

