.home {
  text-align: center;
  overflow: hidden;
}

.home .presentation{
  background-color: #FDD16A;
  background: -webkit-linear-gradient(to right, #FCC337, #EEA833);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FCC337, #EEA833); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-block-start: -5px;
  padding: 10px 0 20px 0;
  position: relative;
}

.home .presentation h3{
  font-size: 65px;
  text-transform: uppercase;
  font-family: AmaticSc;
  margin: 30px 0;
}

.home .presentation hr{
  width: 17%;
  height: 3px;
  border: none;
  background-color: black;
  margin: -25px auto 40px auto;
}

.home .presentation .text-wrapper{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.home .presentation p{
  font-family: Kalam;
  font-size: 18px;
  width: 30%;
}

@media only screen and (max-device-width: 600px) {

  .home .presentation .text-wrapper{
    flex-direction: column;
    text-align: justify;
  }

  .home .presentation p{
    width: 90%;
    margin: 10px auto;
  }

}