.home {
  text-align: center;
  overflow: hidden;
}

.home .presentation{
  background-color: #F4F5F5;
  margin-block-start: -3px;
  padding: 10px 0 20px 0;
  position: relative;
}

.home .presentation h3{
  font-size: 40px;
  text-transform: uppercase;
}

.home .presentation hr{
  width: 17%;
  height: 3px;
  border: none;
  background-color: black;
  margin: -25px auto 40px auto;
}

.home .presentation .text{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.home .presentation p{
  width: 30%;
}

@media only screen and (max-device-width: 600px) {

  .home .presentation .text{
    flex-direction: column;
    text-align: justify;
  }

  .home .presentation p{
    width: 90%;
    margin: 10px auto;
  }

}